/*----- Custom Properties -----*/
:root {
    /* colors */
    --clr-primary-400: hsl(322, 100%, 66%);
    --clr-primary-300: hsl(321, 100%, 78%);
    --clr-primary-500:hsl(0, 100%, 63%);
    
    --clr-neutral-700: hsl(192, 100%, 9%);
    --clr-neutral-300: hsl(210, 3%, 69%);
    --clr-neutral-200: hsl(207, 100%, 98%);
    --clr-neutral-100: #fff;


    /* Fonts */
    --ff-head: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    --fs-200: 0.8rem;
    --fs-300: 0.8rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5625rem;
    --fs-700: 1.953rem;
    --fs-800: 2.441rem;
    --fs-900: 3.815rem;
    
    --spacer: 1rem;

}

@media (min-width: 50em) {
    :root {
        --fs-300: 1rem;
        --fs-400: 1.25rem;
        --fs-500: 1.953rem;
        --fs-600: 2.441rem;
        --fs-800: 3.052rem;

        --spacer: 1.25rem;
    }
}

/* ------ RESET -----*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*----- Typography -----*/
body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
}

h1,
.h1,
h2 {
    font-family: var(--ff-head);
    font-weight: var(--fs-700);
    font-size: var(--fs-600);
}

h2 {
    font-size: var(--fs-500);
}

/*----- General Styles -----*/
body {
    color: var(--clr-neutral-700);
}

a {
    display: inline-block;
    color: inherit;
}

label {
    display: block;
    font-weight: var(--fw-600);
    font-size: var(--fs-300);
}

section {
    padding-top: calc(5* var(--spacer));
    padding-bottom: calc(5* var(--spacer));
}

/*----- Utilities -----*/
.bg-neutral-700 {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-200);
}

.bg-neutral-200 {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-700);
}

.text-center {
    text-align: center;
}

.text-center-sm {
    text-align: center;
}

.wrapper {
    width: 90vw;
    width: clamp(16rem, 90vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}

.flow > * + * {
    margin-top: var(--flow-space, var(--spacer));
}

.flow--sm {
    --flow-space: var(--spacer)
}

.flow--xl {
    --flow-space: calc(10 * var(--spacer))
}

.flow--m {
    --flow-space: calc(2 * var(--spacer))
}

.flex {
    display: flex;
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--split-gap, calc(5* var(--spacer)));
}

.split > * {
    flex-basis: 100%;
}

@media (min-width: 50em) {
    .text-center-sm {
        text-align: left;
    }

    .split {
        flex-direction: row;
    }

}
/*----- Blocks -----*/
.btn {
    display: inline-block;
    border: none;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-600);
    text-decoration: none;
    padding: calc(1 * var(--spacer)) calc(4*var(--spacer));
    border-radius: var(--radius, calc(3*var(--spacer)));
}

.btn:focus, 
.btn:hover {
    background: var(--clr-primary-300);
}

.btn[data-type=ghost] {
    background-color: transparent;
    color: var(--clr-primary-400);
    border: var(--clr-primary-400) solid 2px;
}

.btn--sm {
    --spacer: 0.5rem;
}

.btn[data-type=ghost]:focus,
.btn[data-type=ghost]:hover {
    color: var(--clr-primary-300);
    border-color: var(--clr-primary-300);
}

.site-head {
    padding: calc(3*var(--spacer)) 0;
}

.site-head .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-head .brand {
    max-width: calc(12.5 * var(--spacer));
    padding-right: calc(2 * var(--spacer));
}

.site-head .btn {
    flex-shrink: 0;
}

.hero p {
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto;
}

.stats {
    color: var(--clr-neutral-300);

    --split-gap: calc(8* var(--spacer));
}

.stats .split {
    justify-content: space-evenly;
}

.stats .split > * {
    flex-basis: auto;
}

.stats .number {
    font-size: var(--fs-900);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-700);
}

.descriptions .image{
    order: -1;
}

.curved {
    position: relative;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.curved::before, .curved::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

.curved::before {
    bottom: 100%;
    background-position: bottom;
}

.curved::after {
    top: 100%;
    background-position: top;
}

.curved--1::before {
    background-image: url(./images/bg-section-top-mobile-1.svg);
}

.curved--1::after {
    background-image: url(./images/bg-section-bottom-mobile-1.svg);
}

.curved--2::before {
    background-image: url(./images/bg-section-top-mobile-2.svg);
}

.curved--2::after {
    background-image: url(./images/bg-section-bottom-mobile-2.svg);
}

@media (min-width:50em) {
    .descriptions:nth-child(2n+1) .image {
        order: 2;
    }

    .curved--1::before {
        background-image: url(./images/bg-section-top-desktop-1.svg);
    }

    .curved--1::after {
        background-image: url(./images/bg-section-bottom-desktop-1.svg);
    }

    .curved--2::before {
        background-image: url(./images/bg-section-top-desktop-2.svg);
    }

    .curved--2::after {
        background-image: url(./images/bg-section-bottom-desktop-2.svg);
    }
}

.cta {
    --pading: calc(10*var(--spacer));
    padding-top: var(--pading);
    padding-bottom: var(--pading);
}

.site-foot {
    margin-top: 10rem;
    padding-bottom: var(--spacer);
    position: relative;

    --split-gap: calc(8*var(--spacer));
    --radius: calc(0.5 * var(--spacer))
}

.site-foot::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 10rem;
    background-image: url(./images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}


.site-foot .inner p {
    max-width: 35ch;
}

.site-foot .inner{
    --foot-padding: calc(4*var(--spacer));
    padding-top: var(--foot-padding);
    padding-bottom: var(--foot-padding);
}

.site-foot svg {
    fill: currentColor;
}

.site-foot .icon {
    max-width: calc(2 * var(--spacer));
    margin-right:  var(--spacer);
}

.site-foot .contact {
    line-height: 1;
}

.site-foot a:hover,
.site-foot a:focus {
    color: var(--clr-primary-500);
    filter: invert(100%);
}

.site-foot .social a:hover svg,
.site-foot .social a:focus svg {
    fill: var(--clr-primary-500);
}

.subscribe .flex {
    flex-wrap: wrap;
    gap: var(--spacer);
    justify-content: flex-end;
}

.subscribe input {
    border-radius: var(--radius);
    border: none;

    padding: calc(0.5*var(--spacer));
    flex-basis: 100%;
}

.site-foot .attribution {
    font-size: var(--fs-200);
    text-align: center;
}

.site-foot .split {
    align-items: flex-start;
}

@media(min-width: 50em) {
    .site-foot::before {
        background-image: url(./images/bg-footer-top-desktop.svg);
    }

    .site-foot .inner p {
        font-size: var(--fs-300);
    }

    .site-foot .social {
        margin-top: calc(2 * var(--flow-space));
    }

    .subscribe .flex {
        justify-content: flex-start;
    }

    .subscribe input {
        max-width: 20ch;
    }

    .site-foot .newsletter {
        order: 2;
    }
}